<div class="container"></div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-5">
      <div class="card-body">
        <h1 class="dispaly-6 fw-bold text-center my-4">
          Add Products
        </h1>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table table-hover table-borderless">
              <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
              <thead class="table-light">
                <tr>
                  <th>Title</th>
                  <th>Image</th>
                  <th>catogry</th>
                  <th>qty</th>
                  <th>Price</th>
                  <th>
                    <div class="float-end">
                      <a href="/products/addOrEdit" class="btn btn-sm btn-success">+ Add</a>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                <tr>
                  <td>{{this.title}}</td>
                  <td><img width="50" src="{{this.image}}" alt=""></td>
                  <td>{{this.catogry}}</td>
                  <td>{{this.qty}}</td>
                  <td>${{this.price}}</td>
                  <td>
                    <form action="/products/delete/{{this._id}}" method="post">
                      <a href="/products/addOrEdit/{{this._id}}" img src="images/pencil_icon.png"
                        class="btn btn-sm btn-link">Edit</a>
                      <button type="submit" class="btn btn-sm btn-outline-danger">
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>

                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>